:root {
  --main-border-color: #3d444d;
  --main-bg-color: #238636;
  --base-field: 8px;
  --base-radius: 6px;
}

html {
  font-size: calc(var(--base-field) * 2);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.item_array {
  span {
    border: 1px solid #000000;
    padding: 5px 10px;
    margin: 0 5px;
    position: relative;

    div {
      display: inline-block;
      font-size: xx-small;
      right: 0;
      top: -11px;
      position: absolute;
    }
  }
}
