:root {
  --main-border-color: #3d444d;
  --main-bg-color: #238636;
  --base-field: 8px;
  --base-radius: 6px;
}

html {
  font-size: calc(var(--base-field) * 2);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /* display: flex; */
  flex-direction: row;
}
header {
  position: fixed;
  background-color: #eeeeee;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
footer {
  height: 200px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
}
code {
  background-color: #eeeeee;
  margin: 10px;
  padding: 10px;
}
.control_panel {
  display: flex;
  /* justify-content: space-between; */

  .array {
    margin-top: 30px;
    flex-grow: 1;
    display: flex;
    width: 100%;
    white-space: nowrap;
    align-items: flex-start;
  }
}

.col {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* align-items: flex-start; */
}
.space {
  height: 100px;
}
.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  code {
    flex-grow: 1;
  }
}

.items_array {
  span {
    border: 1px solid #000000;
    padding: 3px 6px;
    margin: -3px 2px 10px;
    position: relative;

    div {
      display: inline-block;
      font-size: xx-small;
      right: 0;
      top: -11px;
      position: absolute;
    }
  }
}
.methods {
  display: flex;

  .section {
    flex-grow: 1;
    display: flex;
    width: 100%;
  }
}
